@tailwind base;
@tailwind components;
@tailwind utilities;



html,body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}


::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(62, 200, 62); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(62, 200, 62); 
}


.movie-info {
  background-color: blue !important ;
}

